body {
  font-family: "Open Sans", sans-serif;
  background-color: #1a8cdd; 
}

h1, h2, h3, .card-body>h5 {
	font-family: "Indie Flower", cursive;
	}

.card-img {
	width: 300px; 
	height: 300px;
	object-fit: cover;
}

.card-img-overlay h5 {
color: whitesmoke;
background-color: rgba(0, 0, 0, 0.4);
}
  
.row-content {
padding: 50px 0;
border-bottom: 1px ridge;
min-height: 200px;
}

.logo {
  font-family: 'Frijole', cursive;
  text-shadow: 2px 2px #ff0000;
}

.sublogo {
  font-family: 'Indie Flower', cursive;
  font-weight: bolder;
}

.TableHeader {
  font-size: xx-large;
  text-align: center;
  font-family: 'Londrina Solid', cursive;
}

.table {
  background-color: #0b4ac9;
}

.navbar {
  background-color: #252729;
}

/* animations */
.page-enter {
	opacity: 0;
	transform: translateX(-100%);
  }
  
  .page-enter-active {
	opacity: 1;
	transform: translateX(0%);
	transition: 100ms ease-out;
  }
  
  .page-exit {
	opacity: 1;
  }
  
  .page-exit-active {
	opacity: 0;
	transition: 100ms ease-out;
  }

/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
